<audio #audioOptionHit>
    <source src='../assets/sound/boom.wav' type="audio/wav">
</audio>
<audio #audioOptionMiss>
    <source src='../assets/sound/miss.wav' type="audio/wav">
</audio>
<div class="map">
    <div class="scroll">
        <p class="blurb" *ngIf="!channel">This is a game that needs to be played with Amazon's Alexa.</p>
        <p class="blurb" *ngIf="!finished && channel && !alexaBoard && !userBoard">Your game is active, to see the board, ask Alexa</p>
        <p class="blurb" *ngIf="finished && channel && !alexaBoard && !userBoard">Your game has finished! Ask Alexa, to start another game!</p>
        <div *ngIf="channel" class="boards">
            <ng-container *ngIf="alexaBoard">
                <div class="alexa-board board">
                    <h1>Alexa</h1>
                    <ul *ngFor="let row of alexaBoard; let rowIdx = index">
                        <li *ngFor="let column of row; let colIdx = index">
                            <img *ngIf="column === 'X'" class="miss" src="../assets/images/miss.png"/>
                            <app-sprite *ngIf="column === 'B'" src="./assets/images/fire.png"
                                        spriteName="alexa-{{rowIdx}}-{{colIdx}}" spriteHeight="40" spriteWidth="82"
                                        frames="8"></app-sprite>
                            {{tempBoard[rowIdx][colIdx].toUpperCase()}}
                        </li>
                    </ul>
                </div>
            </ng-container>
            <ng-container *ngIf="userBoard">
                <div class="user-board board">
                    <h1>Your Fleet</h1>
                    <ul *ngFor="let row of userBoard; let rowIdx = index">
                        <li *ngFor="let column of row; let colIdx = index">
                            <img *ngIf="column === 'X'" class="miss" src="../assets/images/miss.png"/>
                            <app-sprite *ngIf="column === 'B'" src="./assets/images/fire.png"
                                        spriteName="user-{{rowIdx}}-{{colIdx}}" spriteHeight="40" spriteWidth="82"
                                        frames="8"></app-sprite>
                            {{tempBoard[rowIdx][colIdx].toUpperCase()}}
                        </li>
                    </ul>
                </div>
            </ng-container>
        </div>
    </div>
</div>